---
version: "3"
services:
  keycloak:    
    image: quay.io/keycloak/keycloak:20.0.0        
    command: start-dev
    environment:      
      KC_DB: postgres
      KC_DB_URL_HOST: postgres_svr
      KC_DB_URL_DATABASE: keycloakdb
      KC_DB_PASSWORD: kcuser
      KC_DB_USERNAME: kcuser
      KC_DB_SCHEMA: public
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin      
    ports:      
      - "8080:8080"      
    depends_on:      
      postgres_svr:
        condition: service_healthy
    networks:
      - springboot-network    

  postgres_svr: 
    image: postgres:10
    command: postgres -c 'max_connections=200' && postgres -c 'shared_buffers=24MB'    
    environment:
      # Environment Variables expecially for Postgres
      POSTGRES_DB: appdb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    healthcheck:
      test: "exit 0"
    ports:
      - "5432:5432"
    volumes:
      - postgres_db:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - springboot-network
      
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

#  eureka-server:
#    image: springcloud/eureka
#    ports:
#      - "8761:8761"
#    networks:
#      - springboot-network
# IFAPA-DL:
#   build: .
#   image: IFAPA-DL-img
#   depends_on:
#       - db
#   networks:
#       - springboot-network
#   ports:
#     - 8080:8080  
volumes:
  postgres_db: 
networks:
  springboot-network:
    driver: bridge
