version: "3.3"
services:
  keycloak:    
    image: quay.io/keycloak/keycloak:21.1.2        
    command: start-dev
    environment:      
      KC_DB: postgres
      KC_DB_URL_HOST: postgres_svr
      KC_DB_URL_DATABASE: keycloakdb
      KC_DB_PASSWORD: kcuser
      KC_DB_USERNAME: kcuser
      KC_DB_SCHEMA: public
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin   
      KEYCLOAK_HOSTNAME: docker-keycloak     
    ports:      
      - "8080:8080"      
    depends_on:      
      postgres_svr:
        condition: service_healthy
    networks:
      - springboot-network    
  jenkins:
    image: localhost:50000/jenkins-docker
    build: 
       dockerfile: ${JENKINS_DIR}/Dockerfile
    restart: unless-stopped
    env_file:
       - ./.env   
    networks:
       - springboot-network
    ports:
       - '9080:8080'
       - '50000:50000'
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    container_name: jenkins-docker
    depends_on:      
      postgres_svr:
        condition: service_healthy
  sonarqube:
    image: sonarqube:7.6-community 
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_bundled-plugins:/opt/sonarqube/lib/bundled-plugins
    networks:
      - springboot-network
    ports:
      - '9000:9000'
    environment:
      - sonar.jdbc.username=sonaruser
      - sonar.jdbc.password=sonaruser
      - sonar.jdbc.url=jdbc:postgresql://postgres_svr:5432/sonardb
    depends_on:      
      postgres_svr:
        condition: service_healthy
        
  postgres_svr: 
    image: postgres:10
    command: postgres -c 'max_connections=200' && postgres -c 'shared_buffers=24MB'    
    environment:
      # Environment Variables expecially for Postgres
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    healthcheck:
      test: "exit 0"
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - springboot-network
      
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - springboot-network
      
#  eureka-server:
#    image: springcloud/eureka
#    ports:
#      - "8761:8761"
#    networks:
#      - springboot-network
# IFAPA-DL:
#   build: .
#   image: IFAPA-DL-img
#   depends_on:
#       - db
#   networks:
#       - springboot-network
#   ports:
#     - 8080:8080  
volumes:
#  postgres_db: 
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_bundled-plugins:
  jenkins_data:
networks:
  springboot-network:
    driver: bridge
