spring:
  application:
    name: BUSSINES-PROJECT
 
server:
  port: 8082


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      
      
springdoc:
  swagger-ui:
    path: /swagger